[Unit]
Description=Surfing Pi Service
After=network.target


[Service]
Type=simple
ExecStart=/opt/SurfingPi/surfstart

[Install]
WantedBy=multi-user.target